@media (min-width: 768px) {
  /* hedaer  */
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  header .main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  header .main .main-1 {
    width: 30%;
  }
  header .main .main-1 h1 {
    font-size: 35px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
      margin-left: 25px;
  }

  header .main .main-2 ul {
    display: flex;
    justify-content: space-between;
    padding: 14px 0px 0px 0px;
    
  }

  header .main .main-2 ul li {
    list-style: none;
    padding: 0px 5px;
    margin-left: 20px;
   
  }
  header .main .main-2 ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;

  }

  header .main .main-2 ul li a:hover {
    color: rgb(203, 220, 20);
  }
  /* .dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    padding: 10px 0px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  } */

  /* section2  */
  .section-2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
  }
  .section-2 .img {
    margin-top: 50px;
    position: relative;
    width: 40%;
  }

  .section-2 .img .img1 {
    height: 350px;
    width: 230px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgb(214, 205, 205);
  }

  .section-2 .img .img2 {
    position: absolute;
    top: 100px;
    left: 100px;
    height: 350px;
    width: 230px;
    border: 8px solid #ffffff;
    border-radius: 15px;
    box-shadow: 5px 10px 2px black;
  }
  .section-2 .con {
    width: 40%;
    margin-top: 40%;
  }
  /* section 3  */
 
  .section3 h2 {
    text-align: center;
    font-size: 35px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-top: 20px;
  }
  .section3 span {
    color: coral;
  }
  .section-3 {
    display: flex;
    flex-direction: row;

    width: 100%;
    justify-content: center;
  }
  .section-3 .frute1 {
    margin: 25px 20px 20px 0px;
    width: 28%;
    padding: 50px 35px;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease-out 0s;
  }
  .section-3 .frute1::before {
    position: absolute;
    content: "";
    top: -20px;
    left: -26px;
    width: 185px;
    height: 185px;
    background-color: rgb(112, 255, 80);
    border-radius: 0 50%;
    z-index: -1;
    transition: all 0.2s ease-out 0s;
  }
  .section-3 .frute1 img {
    border-radius: 50%;
    border: 12px solid rgb(240, 237, 237);
    height: 180px;
  }
  .section-3 .frute1 h3 {
    color: coral;
  }
  .section-3 .frute1:hover:after {
    border-right: 25px solid coral;
    border-bottom: 25px solid coral;
  }

  .section-3 .frute1:after {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border-right: 25px solid coral;
    border-left: 25px solid transparent;
    border-top: 25px solid transparent;
    border-bottom: 25px solid coral;
    bottom: 20px;
    right: 20px;
    z-index: -1;
    transition: all 0.2s ease-out 0s;
  }

  /* section4  */
  .section-4 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: #11ffbd;
    justify-content: space-between;
    height: 100%;
  }
  .man1 {
    width: 49%;
    margin: 50px 0px 0px 50px;
  }

  .man1 h2 {
    font-size: 6vh;
  }

  .con-1,
  .con-2 {
    font-size: 2.7vh;
  }

  button {
    font-size: 18px;
    margin: 0px 0px 40px 0px;
  }

  .man2 {
    width: 40%;
    margin-left: 30px;
    margin-top: 30px;
  }
  /* section-5  */

  .section-5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    height: 100%;
    background-color: azure;
  }

  /* section-6  */
   /* section-6  */
   .section-6 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    justify-content: space-around;
    /* border: 5px solid black; */
  }
  .section-6 .chef {
    width: 40%;
    margin: 10%;
  }
  .section-6 .chef h1 {
    font-size: 50px;
    font-weight: bolder;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .section-6 .chef h1 span {
    color: coral;
  }
  .section-6 .chef p {
    font-size: 20px;
    line-height: 20px;
    margin: 20px 0px 0px 0px;
    text-align: justify;
    font-weight: lighter;
    opacity: 0.7;
  }
  .section-6 .img {
    height: 100%;
    margin-top: 17%;
  }

  /* section7  */

  /* section 8  */

  .section-8 h1 {
    font-size: 35px;
    padding: 20px 18%;
  }
  .section-8 .search {
    display: flex;
    justify-content: center;
  }
  .section-8 .search .btn-search {
    width: 45%;

    height: 45px;
  }
  .section-8 .search .Subscribe {
    width: 15%;

    height: 45px;
  }
  .section-8 .fot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 60px;
    padding: 60px 60px;
  }
}